<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Category - Shop Down Admin')"></head>
<body>

    <header th:replace="navigation :: menu"></header> <!-- section-header end.// -->

    <main class="section-content bg-light padding-y">
        <div class="container">
            <div class="pagetitle">
            <h1>Manage Categories</h1>
            <nav class="mt-2">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a th:href="@{/categories/new}"><i class="me-2 fas fa-folder-plus"></i>Create New Category</a></li>
                    <li class="breadcrumb-item active"><a th:href="@{/categories/export/csv}"><i class="me-2 fas fa-file-csv"></i>Export to CSV</a></li>
                    <li class="breadcrumb-item active"><a th:href="@{/categories/export/excel}"><i class="me-2 fas fa-file-excel"></i>Export to Excel</a></li>
                    <li class="breadcrumb-item active"><a th:href="@{/categories/export/pdf}"><i class="me-2 fas fa-file-pdf"></i>Export to PDF</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card all-users">
                        <div class="card-body table-responsive">

                            <form th:action="@{/categories}" class="form-inline mt-4 mb-4 d-flex">
                                <input type="text" name="keyword"
                                       class="form-control-search form-control placey"
                                       required placeholder="&#61442;  Search in users"
                                       title="Enter search keyword">
                                &nbsp;&nbsp;
                                <div class="ms-3 full-details">
                                    <input type="button" value="Clear" class="btn btn-outline-primary" onclick="clearFilter()">
                                    <input type="submit" value="Search" class="btn btn-primary">
                                </div>

                                <div class="ms-3 less-details">
                                    <button type="button" class="btn btn-outline-primary" onclick="clearFilter()">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form> <!-- row end.// -->

                            <table class="full-details table table-hover datatable">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Category Image</th>
                                    <th scope="col">
                                        <a th:href="@{'/categories/page/' + ${pageNum} + '?sortDir=' + ${reverseSortDir}}" class="text-black">
                                            Category Name
                                        </a>
                                        <span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
                                    </th>
                                    <th scope="col">Alias</th>
                                    <th scope="col">Enabled</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="category: ${categories}">
                                    <th th:text="${category.id}" scope="row">#</th>
                                    <th scope="row">
                                        <div class="aside">
                                            <img class="img-sm" style="border-radius: 10%;" th:src="@{${category.imagePath}}">
                                        </div>
                                    </th>
                                    <td th:text="${category.name}"></td>
                                    <td th:text="${category.alias}"></td>
                                    <td>
                                        <div th:replace="fragments :: status(${category.enabled}, 'category', '/categories/' + ${category.id})"></div>
                                    </td>
                                    <td>
                                        <div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})"></div>
                                        &nbsp;
                                        <div th:replace="fragments :: delete"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="less-details">
                                <div th:each="category: ${categories}" class="row m-1">
                                    <div class="col-3">
                                        <img class="img-avatar img-sm" th:src="@{${category.imagePath}}">
                                    </div>
                                    <div class="col-8">
                                        <div>[[${category.name}]]</div>
                                        <div>[[${category.alias}]]</div>
                                        <div class="mt-2">
                                            <td>
                                                <div th:replace="fragments :: status(${category.enabled}, 'category', '/categories/' + ${category.id})"></div>
                                            </td>

                                            <div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})"></div>
                                            &nbsp;
                                            <div th:replace="fragments :: delete"></div>

                                        </div>
                                    </div>
                                    <div>&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="fragments :: pagination('/categories', 'top-level categories')"></div>
                </div>
            </div>
        </section>
    </div>
    </main>

    <div th:replace="modal_fragments :: delete_modal"></div>

    <footer th:replace="fragments :: footer"></footer>

    <script th:src="@{/assets/js/common_list.js}"></script>

    <script type="text/javascript">
        // moduleURL = "[[@{/categories}]]"

        $(document).ready(function () {
            $(".link-delete").on("click", function (e) {
                e.preventDefault();
                showConfirmDeleteModal($(this), 'category');
            });
        });

        clearFilter();
    </script>
</body>
</html>
