<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Shop Down Admin')"></head>

<body>

    <header th:replace="navigation :: menu"></header> <!-- section-header end.// -->

    <main class="section-content bg-light padding-y">
        <div class="container">
            <div>
                <h1>Welcome to Shop Down Admin Control Panel</h1>
            </div>
        </div>
    </main>


    <footer th:replace="fragments :: footer"></footer>
</body>
</html>
