<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Home - Shop Down Admin')"></head>
<body>

    <main class="section-content bg-light padding-y">
        <div class="container-fluid">
            <div>
                <img th:src="@{/assets/images/logo-medium.png}" height="100"
                     style="margin: 0 auto; display: block" class="logo">
            </div>
             <div class="card" style="max-width: 370px; margin: 0 auto;">
                 <div class="card-body p-4">

                     <h4 class="mb-4">Sign in to Control Panel</h4>

                     <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                         <i class="fas fa-exclamation-circle me-1"></i>
                         [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
                     </div>

                     <div th:if="${param.logout}" class="alert alert-primary alert-dismissible fade show" role="alert">
                         <i class="fas fa-check-circle me-1"></i>
                         You have been logged out
                     </div>

                     <form th:action="@{/login}" method="post">
                         <div class="mb-3">
                             <label class="form-label">Email</label>
                             <input name="email" class="form-control" required placeholder="ex. name@gmail.com" type="email">
                         </div>

                         <div class="mb-3">
                             <label class="form-label">Password</label>
                             <a class="float-end" th:href="@{/}">Forgot?</a>
                             <input name="password" class="form-control" required placeholder="******" type="password">
                         </div>

                         <div class="mb-3">
                             <label class="form-check">
                                 <input class="form-check-input" name="remember-me" type="checkbox" value="" checked>
                                 <span class="form-check-label"> Remember me </span>
                             </label>
                         </div>

                         <button class="btn w-100 btn-primary" type="submit"> Sign in </button>
                     </form>
                 </div> <!-- card end.// -->
             </div>
        </div>
    </main>
</body>
</html>
