<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="modal_dialog" class="modal fade" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="aside me-3 icon-xs alert-warning rounded-circle">
                        <i class="fa fa-exclamation-triangle text-warning"></i>
                    </div>
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn alert-primary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="delete_modal" class="modal fade" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="aside me-3 icon-xs bg-danger-light rounded-circle">
                        <i class="fa fa-exclamation-triangle text-danger"></i>
                    </div>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>

                <div class="modal-footer">
                    <!-- No => Don't delete the record -->
                    <button type="button" class="btn alert-primary" data-bs-dismiss="modal">Cancel</button>

                    <!-- Yes => Delete the record -->
                    <a class="btn btn-danger" href="" id="yesButton">Delete</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
