<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Your Account Details')"></head>
<body>

    <header th:replace="navigation :: menu"></header> <!-- section-header end.// -->

    <main class="section-content bg-light padding-top">
        <div class="container">

            <!-- ============== FORM SECTION CONTENT  ============== -->
            <section class="col-lg-9 mt-3" style="margin: 0 auto">
                <div class="pagetitle text-center">
                    <h1>Your Account Details</h1>
                </div><!-- End Page Title -->

                <div th:if="${message != null}" class="alert alert-success text-center">
                    [[${message}]]
                </div>

                <article class="card">
                    <div class="card-body">

                        <form th:action="@{/account/update}" method="post" th:object="${user}"
                                enctype="multipart/form-data">
                            <input type="hidden" th:field="*{id}">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row gx-3">
                                        <div class="col-6 mb-3">
                                            <label class="form-label">First name</label>
                                            <input class="form-control" type="text"  placeholder="Type here"
                                                   th:field="*{firstName}" required minlength="2" maxlength="45">
                                        </div> <!-- col .// -->
                                        <div class="col-6  mb-3">
                                            <label class="form-label">Last name</label>
                                            <input class="form-control" type="text"  placeholder="Type here"
                                                   th:field="*{lastName}" required minlength="2" maxlength="45">
                                        </div> <!-- col .// -->
                                        <div class="col-lg-6 col-md-6 mb-3">
                                            <label class="form-label">Email</label>
                                            <input class="form-control" type="email"  placeholder="example@mail.com"
                                                   th:field="*{email}" readonly="readonly" minlength="8" maxlength="128">
                                        </div> <!-- col .// -->
                                        <div class="col-lg-6 col-md-6 mb-3">
                                            <label class="form-label">Assigned Roles</label>
                                            <p>
                                                <th:block th:each="role : ${user.roles}">
                                                    <span class="badge bg-primary" th:text="${role.name}"></span>
                                                </th:block>
                                            </p>
                                        </div> <!-- col .// -->
                                        <div class="col-lg-6 col-md-6 mb-3">
                                            <label class="form-label">Password</label>
                                            <input type="password" th:field="*{password}" class="form-control"
                                                   placeholder="Change Password"
                                                   minlength="8" maxlength="20"
                                                   oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
                                            />
                                        </div> <!-- col .// -->
                                        <div class="col-lg-6 col-md-6 mb-3">
                                            <label class="form-label">Confirm Password</label>
                                            <input type="password" id="confirmPassword" class="form-control"
                                                   minlength="8" maxlength="20"
                                                   oninput="checkPasswordMatch(this)"
                                            />
                                        </div> <!-- col .// -->
                                    </div> <!-- row.// -->
                                </div> <!-- col.// -->
                                <aside class="col-lg-4">
                                    <figure class="text-lg-center mt-3">
                                        <input type="hidden" th:field="*{photo}">
                                        <img class="img-lg mb-3 img-avatar" th:src="@{${user.photosImagePath}}" alt="User Photo">
<!--                                        <figcaption class="d-flex">-->
<!--                                            <input style="width: 300px" type="file" id="fileImage" name="image" class="form-control" accept="image/png, image/jpeg">-->
<!--                                        </figcaption>-->
                                        <div class="gallery-uploader-wrap">
                                            <label>
                                                <a class="btn btn-sm btn-light">
                                                    <input style="padding: 0" type="file" id="fileImage" name="image" class="form-control" accept="image/png, image/jpeg">
                                                    <i class="fa fa-camera"></i> Update Photo
                                                </a>
                                            </label>
                                        </div>
                                    </figure>
                                </aside> <!-- col.// -->
                            </div> <!-- row.// -->
                            <br>
                            <div class="mb-4">
                                <button type="submit" class="btn btn-primary"> Save changes  </button>
                                <button type="button" class="btn btn-secondary" id="buttonCancel"> Cancel  </button>
                            </div>
                        </form>

                    </div> <!-- card-body .// -->
                </article> <!-- card .// -->
            </section>
            <!-- ============== FORM SECTION CONTENT END// ============== -->
        </div>
    </main>

    <footer th:replace="fragments :: footer"></footer>

    <script type="text/javascript">
        MAX_FILE_SIZE = 102400;  // 100KB
        moduleURL = "[[@{/}]]"
        function checkPasswordMatch(confirmPassword) {
            if (confirmPassword.value != $("#password").val()) {
                confirmPassword.setCustomValidity("Passwords do not match!");
            } else {
                confirmPassword.setCustomValidity("");
            }
        }
    </script>
    <script type="text/javascript" th:src="@{/assets/js/form.js}"></script>
</body>
</html>
