<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Users - Shop Down Admin')"></head>
<body>

    <header th:replace="navigation :: menu"></header> <!-- section-header end.// -->

    <main class="section-content bg-light padding-y">
        <div class="container">
            <div class="pagetitle">
                <h1>Manage Users</h1>
                <nav class="mt-2">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a th:href="@{/users/new}"><i class="me-2 fas fa-user-plus"></i>Create New User</a></li>
                        <li class="breadcrumb-item active"><a th:href="@{/users/export/csv}"><i class="me-2 fas fa-file-csv"></i>Export to CSV</a></li>
                        <li class="breadcrumb-item active"><a th:href="@{/users/export/excel}"><i class="me-2 fas fa-file-excel"></i>Export to Excel</a></li>
                        <li class="breadcrumb-item active"><a th:href="@{/users/export/pdf}"><i class="me-2 fas fa-file-pdf"></i>Export to PDF</a></li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <div th:if="${message != null}" class="alert alert-success text-center">
                [[${message}]]
            </div>

            <section class="section">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card all-users">
                            <div class="card-body table-responsive">

                                <form th:replace="fragments :: search_form('/users/page/1')"></form>

                                <table class="full-details table table-hover datatable">
                                    <thead>
                                        <tr>
                                            <th class="hideable-column">
                                                <th th:replace="fragments :: column_link('id', '#', 'tag')"></th>
                                            </th>
                                            <th scope="col">Photos</th>
                                            <th th:replace="fragments :: column_link('firstName', 'First Name', 'none')"></th>
                                            <th th:replace="fragments :: column_link('lastName', 'Last Name', 'none')"></th>
                                            <th class="hideable-column">
                                                <th th:replace="fragments :: column_link('email', 'E-mail', 'tag')"></th>
                                            </th>
                                            <th scope="col">Roles</th>
                                            <th th:replace="fragments :: column_link('enabled', 'Enabled', 'none')"></th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user: ${listUsers}">
                                            <th th:text="${user.id}" scope="row" class="hideable-column">#</th>
                                            <th scope="row">
                                                <div class="aside">
                                                    <img class="img-avatar img-sm" th:if="${user.photo != null}" th:src="@{${user.photosImagePath}}">
                                                    <img class="img-avatar img-sm" th:if="${user.photo == null}" th:src="@{/assets/images/cameraSvg.png}">
                                                </div>
                                            </th>
                                            <td th:text="${user.firstName}"></td>
                                            <td th:text="${user.lastName}"></td>
                                            <td th:text="${user.email}" class="hideable-column"></td>
                                            <td th:text="${user.roles}"></td>
                                            <td>
                                                <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
                                            </td>
                                            <td>
                                                <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
                                                &nbsp;
                                                <a class="icon-xs mx-1 mb-1 box link-delete"
                                                   th:href="@{'/users/delete/' + ${user.id}}" title="Delete this user"
                                                   th:userId="${user.id}" th:entityId="${user.id}"
                                                >
                                                    <img th:src="@{/assets/fonts/trash-2.svg}" width="28" height="28">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="less-details">
                                    <div th:each="user: ${listUsers}" class="row m-1">
                                        <div class="col-3">
                                            <img class="img-avatar img-sm" th:if="${user.photo != null}" th:src="@{${user.photosImagePath}}">
                                            <img class="img-avatar img-sm" th:if="${user.photo == null}" th:src="@{/assets/images/cameraSvg.png}">
                                        </div>
                                        <div class="col-8">
                                            <div>[[${user.fullName}]]</div>
                                            <div>[[${user.roles}]]</div>
                                            <div class="mt-2">
                                                <td>
                                                    <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
                                                </td>

                                                <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>

                                                &nbsp;
                                                <a class="icon-xs mb-1 box link-delete"
                                                   th:href="@{'/users/delete/' + ${user.id}}" title="Delete this user"
                                                   th:userId="${user.id}" th:entityId="${user.id}">
                                                    <img th:src="@{/assets/fonts/trash-2.svg}" width="28" height="28">
                                                </a>
                                            </div>
                                        </div>
                                        <div>&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:replace="fragments :: pagination('/users', 'users')"></div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <div th:replace="modal_fragments :: delete_modal"></div>

    <footer th:replace="fragments :: footer"></footer>

    <script th:src="@{/assets/js/common_list.js}"></script>
    <script type="text/javascript">
        // moduleURL = "[[@{/users}]]"

        $(document).ready(function () {
            $(".link-delete").on("click", function (e) {
                e.preventDefault();
                showConfirmDeleteModal($(this), 'user');
            });
        });

        function clearFilter() {
            window.location = "[[@{/users}]]";
        }
    </script>
</body>
</html>
