<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle})"></head>
<body>

    <header th:replace="navigation :: menu"></header> <!-- section-header end.// -->

    <main class="section-content bg-light padding-top">
        <div class="container">
            <div class="pagetitle">
                <h1>Manage Users</h1>
            </div><!-- End Page Title -->

            <!-- ============== FORM SECTION CONTENT  ============== -->
            <section class="bg-light" style="min-height:90vh">
                <div class="container">
                    <!-- ====== COMPONENT LOGIN  ====== -->
                    <div class="card shadow mx-auto" style="max-width:500px; margin-top:40px;">
                        <div class="card-body">
                            <h4 class="mb-4">[[${headerTitle}]]</h4>
                            <form th:action="@{/users/save}" method="post" th:object="${user}"
                                  enctype="multipart/form-data"
                                  onsubmit="return checkEmailUnique(this);">
                                <input type="hidden" th:field="*{id}">
                                <div class="row gx-2">
                                    <div class="col-6 mb-3">
                                        <label class="form-label">First name</label>
                                        <input type="text" class="form-control" th:field="*{firstName}"
                                               required minlength="2" maxlength="45">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label class="form-label">Last name</label>
                                        <input type="text" class="form-control" th:field="*{lastName}"
                                               required minlength="2" maxlength="45">
                                    </div>
                                </div> <!-- row // -->
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input class="form-control" placeholder="Type email" type="email"
                                           th:field="*{email}" required minlength="8" maxlength="128">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Create password</label>
                                    <input th:if="${user.id == null}" class="form-control" placeholder="At least 8 characters." type="password"
                                           th:field="*{password}" required minlength="8" maxlength="20">
                                    <input th:if="${user.id != null}" class="form-control" placeholder="At least 8 characters." type="password"
                                           th:field="*{password}" minlength="8" maxlength="20">
                                </div>
                                <div class="row mb-3">
                                    <label class="form-label col-3">Roles</label>
                                    <div class="col-9">
                                        <th:block th:each="role: ${listRoles}">
                                            <label class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       th:field="*{roles}" th:value="${role.id}">
                                                <span class="form-check-label" th:text="${role.name}"></span>
                                                - <small th:text="${role.description}"></small>
                                                <br>
                                            </label>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="row row-auto-width mb-4">
                                    <label class="col-sm-3 col-form-label">Enabled</label>
                                    <div class="col-sm-8 mt-2">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" th:field="*{enabled}" type="checkbox" role="switch">
                                        </div>
                                    </div>
                                </div>
                                <div class="row gx-2">
                                    <label class="form-label">Upload Photo</label>
                                    <div class="col-9 mb-3">
                                        <input type="hidden" th:field="*{photo}">
                                        <label class="form-label">
                                            <input type="file" id="fileImage" name="image" class="form-control" accept="image/png, image/jpeg">
                                        </label>
                                    </div>
                                    <div class="gallery-uploader-wrap media-width col-3 mb-3">
                                        <label class="uploader-img">
                                            <img id="thumbnail" width="100" th:src="@{${user.photosImagePath}}">
                                        </label>
                                    </div>
                                </div>
                                <div class="text-center mb-4">
                                    <button type="submit" class="btn btn-primary"> Save  </button>
                                    <button type="button" class="btn btn-secondary" id="buttonCancel"> Cancel  </button>
                                </div>
                            </form>
                        </div> <!-- card-body.// -->
                    </div> <!-- card .// -->

                    <!-- ====== COMPONENT LOGIN  END.// ====== -->

                    <br><br>

                </div> <!-- container .//  -->
            </section>
            <!-- ============== FORM SECTION CONTENT END// ============== -->
        </div>
    </main>

    <div th:replace="modal_fragments :: modal_dialog"></div>

    <footer th:replace="fragments :: footer"></footer>

    <script type="text/javascript">
        moduleURL = "[[@{/users}]]"
        function checkEmailUnique(form) {
            const url = "[[@{/users/check-email}]]";
            const userEmail = $("#email").val();
            const userId = $("#id").val();
            // Making an AJAX call with Spring security, we need to pass the csrf value
            const csrfValue = $("input[name='_csrf']").val();
            const params = {id: userId, email: userEmail, _csrf: csrfValue};

            $.post(url, params, function (response){
                if (response === "OK") {
                    form.submit();
                } else if (response === "Duplicated") {
                    showModalWarning("There is another user having the email " + userEmail);
                } else {
                    showModalError("Unknown response from server");
                }
            }).fail(function () {
                showModalError("Could not connect to the server");
            });
            return false;
        }
    </script>
    <script type="text/javascript" th:src="@{/assets/js/form.js}"></script>
</body>
</html>
